nav ul{   
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 20px;
}
nav{
    width: 100%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.container{
  
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 15px;
    border: 1px solid red;
}

.blogitems{
    flex-basis: 23%;
    margin: 1%;
    box-shadow: 8px 8px 10px 2px;
    padding-bottom: 3%;
}